.header-container {
    padding: 0 1rem;
    flex: 0;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: #FFF;
    font-weight: 800;    
}

.time {
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
}